@page "/Goals"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using GoalTracker.Client.Pages.Components
@using MudBlazor
@using GoalTracker.Shared
@using GoalTracker.Client.Feautures.Goals
@using GoalTracker.Client.Feautures.LifeAreas
@inject LifeAreaApiClient LifeAreaApi
@inject GoalsApiClient _goalsApiClient
@inject IDialogService DialogService 
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />
<h3>Goals</h3> 
@if (_goals.Count == 0)
{
    <MudText Class="ma-4">No goals found.</MudText>
}
else
{
    <MudExpansionPanels MultiExpansion="true"> 
      @foreach (var goal in _goals)
{
    var g = goal;
    <MudExpansionPanel Text="@g.Name" MaxHeight="1000"
                               ExpandedChanged="@(() => OnPanelExpanded( g.Id))">
        @if (_expandedGoals.Contains(g.Id))
        {
            <GoalView Goal="@g" OnUpdated="UpdateGoal" />
        }
    </MudExpansionPanel>
}
        </MudExpansionPanels>
}


<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ma-4" OnClick="OpenCreateDialog">
    Add goal
</MudButton>

@code {
    private List<GoalDTO> _goals { get; set; } = [];
    private List<int> _expandedGoals = [];
    private List<LifeAreaDTO> _allLifeAreas { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        _goals = await _goalsApiClient.GetGoalsAsync(); 
    }

    protected Task OnExpandedChanged(int goalId)
    {
        // Handle expansion changed logic here
        return Task.CompletedTask;
    }

    private async Task OpenCreateDialog()
    {
        var newGoal = new GoalDTO();
        if (!_allLifeAreas.Any())
        {
            _allLifeAreas = await LifeAreaApi.GetLifeAreasAsync();
        }
        var parameters = new DialogParameters
    {
        { nameof(GoalEditDialog.Goal), newGoal } ,
    { nameof(GoalEditDialog.AllLifeAreas), _allLifeAreas },
    { nameof(GoalEditDialog.SelectedLifeAreas), newGoal.LifeAreas ?? [] }
        };
        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Medium,  // Small, Medium, Large, ExtraLarge, False
            FullWidth = true,
            CloseOnEscapeKey = true,
            CloseButton = true
        };

        var dialog = await DialogService.ShowAsync<GoalEditDialog>("Edit goal", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled && result.Data is GoalDTO data)
        {
            var created = data; 
            var saved = await _goalsApiClient.SaveGoal(created);

            if (saved is not null)
            {
                _goals.Add(saved);
                StateHasChanged();
            }
        }
    }

    private void OnPanelExpanded(int goalId)
    {
        if ( !_expandedGoals.Contains(goalId))
        {
            _expandedGoals.Add(goalId);
            StateHasChanged();
        }
    }
    private async Task UpdateGoal(GoalDTO args)
    {
        await _goalsApiClient.UpdateGoal(args);    
    }
}
