@page "/life-area"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using GoalTracker.Shared
@inject GoalTracker.Client.Feautures.LifeAreas.LifeAreaApiClient LifeAreaApi

<h3>LifeArea</h3>
@foreach (var lifeArea in _lifeAreas)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@lifeArea.Name</h5>
            <p class="card-text">@lifeArea.Description</p>
        </div>
    </div>
}

<MudBlazor.MudButton OnClick="ReloadData">Reload Data   </MudBlazor.MudButton>

@code {
    private List<LifeAreaDTO> _lifeAreas = [];

    protected override async Task OnInitializedAsync()
    {
        _lifeAreas = await LifeAreaApi.GetLifeAreasAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
       
        await base.OnAfterRenderAsync(firstRender); 
    }

    protected async Task ReloadData()
    {
        _lifeAreas = await LifeAreaApi.GetLifeAreasAsync();
        StateHasChanged();
    }
}
