@page "/Project/{id:int}"
@using GoalTracker.Client.Pages.Components
@using MudBlazor
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false)) 
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<h3>Project</h3>
<TaskTable ProjectId="@id" />

@code {
    [Parameter]
    public int id { get; set; }

}
