@page "/projects"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using GoalTracker.Client.Pages.Components
<h3>Projects</h3>
<ProjectsTable/>
@code {

}
